* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
}

:root {
  --heading-font: 'Poppins', sans-serif;
  --paragraph-font: 'Inter', sans-serif;
  --theme-color: #080808;
  --theme-color2: #282828;
  --heading-color1: #ffffff;
  --heading-color2: #f4b913;
  --paragraph-color: #7f7f7f;
}


.navbar {
  width: 100%;
  background-color: var(--theme-color);
  padding: 20px;
  position: relative;
  z-index: 99;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

.navbar .navbar-brand img {
  width: 40px;
}

.navbar .navbar-list ul li {
  display: inline;
  margin-right: 50px;
}

.navbar .navbar-list ul li:last-child {
  margin-right: 0;
}

.navbar .navbar-list a {
  color: var(--heading-color1);
  font-family: var(--heading-font);
  font-size: .85em;
  transition: .3s ease;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
}

.navbar .navbar-list a:hover {
  color: var(--heading-color2);
}

a.button {
  color: var(--heading-color2);
  font-size: .85em;
  font-family: var(--heading-font);
  border: 2px solid var(--heading-color2);
  padding: 10px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: .3s ease;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
}

.navbar .navbar-list,
.navbar a.button {
  display: none;
}

a.button:hover {
  background-color: #222222;
}

.navbar .navbar-toogle i {
  color: var(--heading-color2);
  font-size: 2em;
  cursor: pointer;
}

/* Hero */
.hero {
  width: 100%;
  background-color: var(--theme-color);
  height: 100vh;
  padding-top: 50px;
}

.hero .wrapper {
  width: 100%;
}

.hero h4 {
  color: var(--heading-color2);
  font-family: var(--paragraph-font);
  font-size: 1em;
  font-weight: 300;
}

.hero h1 {
  color: var(--heading-color1);
  font-family: var(--heading-font);
  font-size: 3em;
  font-weight: 700;
}

.hero h2 {
  color: var(--paragraph-color);
  font-family: var(--heading-font);
  font-size: 2em;
  line-height: 1.3em;
  margin-bottom: 30px;
}

.hero p {
  color: var(--paragraph-color);
  font-family: var(--paragraph-font);
  font-weight: 500;
  font-size: 1em;
  width: 100%;
  line-height: 1.75em;
  margin-bottom: 50px;
}

.hero p a,
#about p a {
  color: var(--heading-color2);
}

.hero p a:hover,
#about p a:hover {
  border-bottom: 1px solid var(--heading-color2);
}

.hero .contact {
  display: flex;
  align-items: center;
}

.hero .contact .social-media ul {
  margin-left: 50px;
}

.hero .contact .social-media ul li {
  display: inline;
  margin-right: 20px;
}

.hero .contact .social-media ul li a {
  color: var(--paragraph-color);
  font-size: 1.5em;
  transition: .3s ease;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
}

.hero .contact .social-media ul li a:hover {
  color: var(--heading-color2);
}

/* About */
#about {
  width: 100%;
  min-height: 450px;
  background-color: var(--theme-color);
}

#about .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#about .title h3 {
  color: var(--heading-color2);
  font-family: var(--heading-font);
  font-size: 1.8em;
  font-weight: 600;
}

#about .title .line {
  width: 60%;
  height: 1px;
  background-color: var(--paragraph-color);
}

#about .content {
  display: flex;
  flex-direction: column;
}

#about .content .desc {
  padding: 25px 0 30px 0;
}

#about .content .desc p {
  color: var(--paragraph-color);
  font-family: var(--paragraph-font);
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 15px;
}

#about .content .photo {
  margin: 50px auto;
  height: 350px;
  overflow: hidden;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 1px solid var(--paragraph-color);
}

#about .content .photo img {
  width: 300px;
  margin-top: -50px;
}

/* Mobile CSS */
@media (min-width: 600px) {
  .navbar .container {
    width: 90%;
  }

  .container {
    width: 75%;
  }

  .navbar .navbar-list,
  .navbar a.button {
    display: block;
  }

  .navbar .navbar-toogle {
    display: none;
  }

  /* hero */
  .hero .wrapper {
    width: 80%;
  }

  .hero h1 {
    font-size: 5em;
  }

  .hero h2 {
    font-size: 3em;
  }

  .hero p {
    font-size: 1.2em;
    width: 75%;
  }

  #about .title .line {
    width: 80%;
  }

  #about .content {
    flex-direction: row;
  }

  #about .content .desc {
    width: 50%;
  }
}