* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

p, li {
  line-height: 1.5em;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../assets/fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
}

:root {
  --heading-font: 'Poppins', sans-serif;
  --paragraph-font: 'Inter', sans-serif;
  --theme-color: #080808;
  --theme-color2: #282828;
  --heading-color1: #ffffff;
  --heading-color2: #f4b913;
  --sub-heading: #bebebe;
  --paragraph-color: #7f7f7f;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  width: 100%;
  background-color: var(--theme-color);
  padding: 20px;
  position: fixed;
  z-index: 99;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

.navbar .navbar-brand img {
  width: 40px;
}

.navbar .navbar-list ul li {
  display: inline-block;
  margin-right: 50px;
}

.navbar .navbar-list a {
  color: var(--heading-color1);
  font-family: var(--heading-font);
  font-size: .85em;
  transition: .3s ease;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
}

.navbar .navbar-list a.button {
  color: var(--heading-color2);
}

.navbar .navbar-list a:hover {
  color: var(--heading-color2);
}

a.button {
  color: var(--heading-color2);
  font-size: .85em;
  font-family: var(--heading-font);
  border: 2px solid var(--heading-color2);
  padding: 10px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: .3s ease;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
}

.navbar .navbar-list{
  display: none;
}

a.button:hover {
  background-color: #222222;
}

.navbar .navbar-toogle i {
  color: var(--heading-color2);
  font-size: 2em;
  cursor: pointer;
}

/* Hero */
.hero {
  width: 100%;
  background-color: var(--theme-color);
  height: 100vh;
  padding-top: 50px;
}

.hero .wrapper {
  width: 100%;
}

.hero h4 {
  color: var(--heading-color2);
  font-family: var(--paragraph-font);
  font-size: .87em;
  font-weight: 300;
}

.hero h1 {
  color: var(--heading-color1);
  font-family: var(--heading-font);
  font-size: 2em;
  font-weight: 700;
}

.hero h2 {
  color: var(--paragraph-color);
  font-family: var(--heading-font);
  font-size: 1.5em;
  line-height: 1.3em;
  margin-bottom: 20px;
}

.hero p {
  color: var(--paragraph-color);
  font-family: var(--paragraph-font);
  font-weight: 500;
  font-size: .87em;
  width: 100%;
  line-height: 1.75em;
  margin-bottom: 50px;
}

.hero p a,
#about p a {
  color: var(--heading-color2);
}

.hero p a:hover,
#about p a:hover {
  border-bottom: 1px solid var(--heading-color2);
}

.hero .contact {
  display: flex;
  align-items: center;
}

.hero .contact .social-media ul {
  margin-left: 10px;
}

.hero .contact .social-media ul li {
  display: inline;
  margin-left: 20px;
}

.hero .contact .social-media ul li a {
  color: var(--paragraph-color);
  font-size: 1.2em;
  transition: .3s ease;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
}

.hero .contact .social-media ul li a:hover {
  color: var(--heading-color2);
}

/* About */
#about {
  width: 100%;
  min-height: 450px;
  background-color: var(--theme-color);
  padding: 50px 0;
}

#about .title,
#experience .title,
#project .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#about .title h3,
#experience .title h3,
#project .title h3 {
  color: var(--heading-color2);
  font-family: var(--heading-font);
  font-size: 1.5em;
  font-weight: 600;
}

#about .title .line,
#experience .title .line,
#project .title .line {
  width: 40%;
  height: 1px;
  background-color: var(--paragraph-color);
}

#about .content {
  display: flex;
  flex-direction: column;
}

#about .content .desc {
  padding: 25px 0 30px 0;
}

#about .content .desc p {
  color: var(--paragraph-color);
  font-family: var(--paragraph-font);
  font-size: .87em;
  margin-top: 15px;
}

#about .content .photo {
  margin: 40px auto;
  height: 250px;
  overflow: hidden;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 1px solid var(--heading-color2);
  box-shadow: 10px 10px 0 var(--heading-color2);
}

#about .content .photo img {
  width: 200px;
  margin-top: -50px;
}

#about .content .skill-list {
  display: flex;
  margin-top: 20px;
  width: 90%;
  justify-content: space-between;
}

#about .content .skill-list ul {
  list-style-type: disc;
  list-style-position: inside;
}

#about .content .skill-list ul li {
  color: var(--paragraph-color);
  font-family: var(--paragraph-font);
  font-size: .9em;
  margin-bottom: 10px;
}

#about .content .skill-list ul li::marker {
  color: var(--heading-color2);
}

/* Experience */
#experience {
  width: 100%;
  background-color: var(--theme-color);
  min-height: 450px;
  padding: 100px 0 50px 0;
}

#experience .content {
  display: flex;
  flex-direction: column;
}

#experience .content .company-row {
  margin-top: 50px;
}

#experience .content .company-row h4 {
  color: var(--sub-heading);
  font-family: var(--paragraph-font);
  font-size: .97em;
  font-weight: 600;
  border-left: 2px solid var(--heading-color2);
  padding-left: 10px;
  margin-bottom: 10px;
}

#experience .content .company-row h4 span {
  color: var(--heading-color2);
  margin-left: 5px;
}

#experience .content .company-row h5 {
  color: var(--paragraph-color);
  font-family: var(--paragraph-font);
  font-size: .7em;
  font-weight: 400;
  padding-left: 10px;
  margin-bottom: 25px;
}

#experience .content .company-row ul {
  list-style-type: disc;
  padding-left: 20px;
}

#experience .content .company-row ul li::marker {
  color: var(--heading-color2);
}

#experience .content .company-row ul li {
  color: var(--paragraph-color);
  font-family: var(--paragraph-font);
  font-size: .87em;
  margin-bottom: 10px;
}

#project {
  width: 100%;
  min-height: 500px;
  background-color: var(--theme-color);
  padding: 50px 0;
}

#project .content .project-row {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

#project .content .project-row .project-image {
  width: 100%;
  height: 150px;
  border: 2px solid var(--heading-color2);
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  overflow: hidden;
  position: relative;
}

#project .content .project-row .project-image img {
  width: 100%;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

#project .content .project-row .project-image .cover-project {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  transition: .3s ease;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
}

#project .content .project-row .project-image .cover-project:hover {
  opacity: 1;
}

#project .content .project-row .project-image .cover-project .button-project {
  color: var(--theme-color);
  font-family: var(--heading-font);
  font-size: .8em;
  font-weight: 600;
  background-color: var(--heading-color2);
  padding: 10px 15px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

#project .content .project-row .project-image .cover-project .button-project:hover {
  text-decoration: underline;
}

#project .content .project-row .desc-project {
  padding: 30px 0;
}

#project .content .project-row .desc-project h5 {
  color: var(--heading-color2);
  font-family: var(--paragraph-font);
  font-size: .8em;
  font-weight: 400;
  margin-bottom: 10px;
}

#project .content .project-row .desc-project h4 {
  color: var(--sub-heading);
  font-family: var(--paragraph-font);
  font-size: 1.2em;
  margin-bottom: 20px;
}

#project .content .project-row .desc-project p {
  color: var(--paragraph-color);
  font-family: var(--paragraph-font);
  font-size: .87em;
  margin-bottom: 20px;
}

#project .content .project-row .desc-project p a {
  color: var(--heading-color2);
}

#project .content .project-row .desc-project p a:hover {
  text-decoration: underline;
}

#project .content .project-row .desc-project ul {
  list-style: none;
}

#project .content .project-row .desc-project ul li {
  display: inline;
  margin-right: 10px;
  font-family: var(--paragraph-font);
  font-size: .8em;
  font-weight: 300;
  background-color: var(--theme-color2);
  padding: 5px 10px;
  border: 1px solid var(--heading-color2);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

#project .content .project-row .desc-project ul li.html {
  color: #e96228;
  border: 1px solid;
}

#project .content .project-row .desc-project ul li.css {
  color: #82a8ff;
  border: 1px solid;
}

#project .content .project-row .desc-project ul li.javascript {
  color: #f6d138;
  border: 1px solid;
}

#project .content .project-row .desc-project ul li.bootstrap {
  color: #c18fff;
  border: 1px solid;
}

#project .content .project-row .desc-project ul li.react {
  color: #1bc6e7;
  border: 1px solid;
}

#project .content .button-row {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#contact {
  background-color: var(--theme-color);
  width: 100%;
  min-height: 400px;
}

#contact .content {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact .content h4 {
  color: var(--heading-color2);
  font-family: var(--paragraph-font);
  font-size: .8em;
  font-weight: 400;
}

#contact .content h2 {
  color: var(--sub-heading);
  font-family: var(--heading-font);
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 10px;
}

#contact .content p {
  color: var(--paragraph-color);
  font-family: var(--paragraph-font);
  font-size: .87em;
  text-align: center;
  margin-bottom: 30px;
}

#contact .content button {
  font-family: var(--heading-font);
  background-color: var(--heading-color2);
  border: none;
  padding: 10px 15px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  transition: .3s ease;
  border: 2px solid var(--heading-color2);
  cursor: pointer;
}

#contact .content button:hover {
  color: var(--heading-color2);
  background-color: rgba(0, 0, 0, 0);
}

footer {
  background-color: var(--theme-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

footer p {
  color: var(--sub-heading);
  font-family: var(--paragraph-font);
  font-size: .75em;
  line-height: 2em;
}

footer p span {
  color: var(--heading-color2);
}

footer a {
  color: var(--sub-heading);
  transition: .3s ease;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
}

footer a:hover {
  color: var(--heading-color2);
}

/* Desktop CSS */
@media (min-width: 600px) {
  .navbar .container {
    width: 90%;
  }

  .container {
    width: 75%;
  }

  .navbar .navbar-list {
    display: block;
  }

  .navbar .navbar-list ul {
    display: inline-block;
  }

  .navbar .navbar-toogle {
    display: none;
  }

  /* hero */
  .hero {
    padding-top: 150px;
  }

  .hero .wrapper {
    width: 80%;
  }

  .hero h4 {
    font-size: 1em;
  }

  .hero h1 {
    font-size: 5em;
  }

  .hero h2 {
    font-size: 3em;
  }

  .hero p {
    font-size: 1.2em;
    width: 75%;
  }

  #about {
    padding-top: 100px;
  }

  #about .title h3,
  #experience .title h3,
  #project .title h3 {
    font-size: 1.87em;
  }

  #about .title .line,
  #experience .title .line,
  #project .title .line {
    width: 80%;
  }

  #about .content {
    flex-direction: row;
  }

  #about .content .desc {
    width: 50%;
  }

  #about .content .desc p {
    font-size: 1em;
  }

  #about .content .skill-list {
    width: 50%;
  }

  #about .content .photo {
    height: 350px;
  }

  #about .content .photo img {
    width: 300px;
  }

  #experience .content .company-row h4 {
    font-size: 1.2em;
  }

  #experience .content .company-row h5 {
    font-size: .8em;
  }

  #experience .content .company-row ul li {
    font-size: 1em;
  }

  #project {
    padding-top: 100px;
  }

  #project .content .project-row {
    flex-direction: row;
  }

  #project .content .row-reverse {
    flex-direction: row-reverse;
  }

  #project .content .project-row .project-image {
    width: 50%;
    height: 330px;
  }

  #project .content .project-row .desc-project {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
  }

  #project .content .row-reverse .desc-project {
    align-items: start;
  }

  #project .content .project-row .desc-project h5 {
    font-size: 1em;
  }

  #project .content .project-row .desc-project h4 {
    font-size: 1.5em;
  }

  #project .content .project-row .desc-project p {
    width: 90%;
    text-align: end;
  }

  #project .content .row-reverse .desc-project p {
    text-align: start;
  }

  #project .content .project-row .desc-project ul li {
    margin-right: 0;
    margin-left: 10px;
  }

  #project .content .row-reverse .desc-project ul li {
    margin-left: 0;
    margin-right: 10px;
  }

  #project .content .button-row {
  justify-content: end;
  }

  #contact .content h2 {
    font-size: 3em;
  }

  #contact .content p {
    width: 50%;
    font-size: 1em;
  }

  footer p {
    font-size: .8em;
  }
}

/* Mobile Navbar CSS */
@media only screen and (max-width: 800px) {
  .navbar {
    position: relative;
  }

  .navbar .navbar-list {
    display: block;
    position: absolute;
    background-color: var(--theme-color);
    top: 80px;
    right: 0;
    left: 0;
    padding: 10px 30px;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
}

  .navbar .navbar-list ul li {
    display: block;
    margin-bottom: 20px;
  } 
}
